:root {
  --main-color: rgb(240, 240, 240);
  --dark-main: rgb(200, 200, 200);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(20, 20, 20);
  color: var(--main-color);
  font-family: Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: var(--main-color);
}

.number__tag {
  color: rgb(30, 30, 30);
  cursor: pointer;
}

.number__tag:hover {
  color: rgb(130, 130, 130);
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

.result__wrapper {
  display: flex;
  align-items: center;
}

.selected {
  font-size: 20px;
  margin-left: 50px;
  color: rgb(150, 150, 150);
}

header {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid var(--main-color);
  background-color: rgb(30, 30, 30);
}

.header__wrapper {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 20px;
}

.type {
  font-size: 20px;
  margin-left: 50px;
}

.type:hover {
  color: var(--dark-main);
}

main {
  padding: 160px 0;
  height: 80vh;
  background-color: rgb(200, 200, 200);
}

.main_wrapper {
  display: flex;
  column-gap: 50px;
}

.content {
  padding: 20px 45px;
}

.content__item {
  margin: 20px 0;
  font-size: 18px;
  cursor: pointer;
  color: rgb(30, 30, 30);
  list-style-type: none;
}

.content__item-selected {
  margin: 20px 0;
  font-size: 18px;
  cursor: pointer;
}

.content__item:hover {
  color: rgb(0, 0, 0);
  color: rgb(130, 130, 130);
}

.result {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  padding: 20px 45px;
  border: 1px solid rgb(30, 30, 30);
  color: rgb(30, 30, 30);
}

.result__item {
  padding: 10px;
  border: 1px solid rgb(30, 30, 30);
  font-size: 18px;
  cursor: pointer;
}

table {
  border: 1px solid rgb(30, 30, 30);
  border-collapse: collapse;
}

td {
  padding: 20px;
  font-size: 20px;
  color: rgb(30, 30, 30);
}

.fulltable__td {
  padding: 15px;
  font-size: 16px;
  border-color: rgb(30, 30, 30);
}

.fulltable {
  font-size: 14px;
}

.fullblock {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  padding: 20px;
  gap: 5px;
  color: rgb(30, 30, 30);
  width: 100%;
  max-width: 850px;
  font-size: 16px;
}

.fullblock__item {
  padding: 15px 10px;
  border: 1px solid rgb(30, 30, 30);
}

.fullblock-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

footer {
  width: 100%;
  height: 100px;
  background-color: rgb(30, 30, 30);
}

.footer__wrapper {
  display: flex;
  height: 100px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.footer__item {
  margin: 0 15px;
}

span {
  color: #fff;
}
