* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 100px;
  background-color: rgb(40, 40, 40);
}

.header__content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  width: 300px;
  height: 80px;
}

.header__text {
  color: rgb(230, 230, 230);
}

.page {
  color: rgb(40, 40, 40);
  background-color: rgb(230, 230, 230);
  min-height: calc(100vh - 100px);
}

.main__content {
  padding: 80px 0;
  margin-bottom: 100px;
}

.main__function {
  margin-bottom: 10px;
}

.main__function_div {
  border: 2px solid red;
  padding: 8px;
  margin: 8px;
  display: inline-flex;
}

table {
  border-collapse: collapse;
}

th,
td {
  padding: 5px;
  border: 1px solid black;
}

.footer {
  position: fixed;
  bottom: 0;
  background-color: rgb(40, 40, 40);
  height: 100px;
  width: 100%;
}

.footer__content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.footer__type {
  color: rgb(230, 230, 230);
  font-size: 40px;
}
